In [1]:
from sklearn import tree
import pandas as pd


data =pd.read_csv('treino.csv')
"""
treino = pd.DataFrame(data.data)
treino.columns=  data.feature_names
treino['target'] = treino.target"""
data.head(3)

,id,col_0,col_1,col_2,col_3,col_4,col_5,col_6,col_7,col_8,...,col_11,col_12,col_13,col_14,col_15,col_16,col_17,col_18,col_19,target
0,1035,2.440291,18.803669,58.516966,9.036167,50.743645,2.616749,10.795447,7.660446,4.668714,...,4.902706,32.456142,7.968399,3.091370,7.347987,6.059947,1.127013,42.602430,14.998465,0
1,4114,2.169448,24.294184,67.503844,11.834599,45.908778,2.011304,26.907888,6.340541,3.395222,...,4.696788,54.560997,7.041915,2.994271,6.647018,5.601878,1.147552,41.864156,19.513713,0
2,929,3.023596,10.293279,65.193868,9.252690,32.051982,2.968073,15.973128,3.868862,5.101278,...,3.778641,38.996286,4.508824,2.826542,4.504206,7.569435,0.669029,59.064639,14.957184,0